@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--color-text-primary: #1c2a38;
	--color-text-secondary: #8A8F98;
	--color-text-alert: #d72641;
	--color-text-icon: #dbdade;
	--color-bg-primary: #fff;
	--color-bg-secondary: #f3f5f9;
	--color-bg-alert: #fdeaec;
	--color-theme-primary: #623ce6;
}

button,
input,
select,
textarea {
	font: inherit;
}

img {
	display: block;
}

strong {
	font-weight: 600;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
}

.match {
	background-color: var(--color-bg-primary);
	display: flex;
	flex-direction: column;
	min-width: 100%;
	height: 100%;
	box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
	background-image: url('./src/img/background.jpg');
	background-size: cover;
	position: relative;
}

.match::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(26 12 37 / 50%);
	border-radius: 10px;
}

.match-header {
	display: flex;
	border-bottom: 2px solid rgba(#303030, 0.1);
	padding: 16px;
	z-index: 1;
}
.match-header-list {
	display: flex;
	border-bottom: 2px solid rgba(#303030, 0.1);
	padding: 16px;
}

.match-status {
	background-color: var(--color-bg-alert);
	color: var(--color-text-alert);
	padding: 8px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-right: auto;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-radius: 50%;
		margin-right: 8px;
	}
}
.match-status-list {
	background-color: var(--color-bg-alert);
	color: var(--color-text-alert);
	padding: 0px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-radius: 50%;
		margin-right: 8px;
	}
}
.match-tournament {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 38px;
	background-color: var(--color-bg-primary);
	img {
		width: 250px;
		margin-right: 12px;
	}
}
.match-header-list{
	display: flex;
}
.match-tournament-list {
	display: flex;
	justify-content: center;
	font-weight: 600;
	width: 100%;
	font-size: 38px;
	img {
		width: 250px;
		margin-right: 12px;
	}
}
.match-actions {
	display: flex;
	margin-left: auto;
}

.btn-icon {
	border: 0;
	background-color: transparent;
	color: var(--color-text-icon);
	display: flex;
	align-items: center;
	justify-content: center;
}

.match-content {
	display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.column {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% / 3);
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary);
	
}

.team-logo-list {
	width: 85px;
	height: 10px;
	display: flex;
	margin-bottom: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary);
	
}
.img__logo {
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary);
}
.img__logo-list {
	width: 100px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary);
}
.team-name {
	text-align: center;
	color: #fff;
	margin-top: 150px;
	font-size: 32px;
	font-weight: 600;
}
.team-name-list {
	text-align: center;
	color: var(--color-bg-primary);
	font-size: 32px;
	font-weight: 600;
}
.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.match-date, .match-referee {
	font-size: 24px;
	color: var(--color-bg-primary);

}

.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
	width: 20%;
    justify-content: center;
}

.match-score-number {
	font-size: 300px;
	color: var(--color-bg-primary);
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}
.match-score-number-list {
	font-size: 80px;
	color: var(--color-bg-primary);
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}
.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.match-score-divider {
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
}

.match-time-lapsed {
	color: #DF9443;
	font-size: 23px;
	font-weight: 600;
	margin-top: 8px;

}

.match-referee {
	margin-top: 12px;
}

.match-bet-options {
	display: flex;
	margin-top: 8px;
	padding-bottom: 12px;
}

.match-bet-option {
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid var(--color-text-icon);
	background-color: #F9f9f9;
	border-radius: 2px;
	color: var(--color-text-secondary);
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
}

.match-bet-place {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: 0;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
	color: rgba(#fff, 0.9);
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(#303030, 0.25);
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.match__details-list{
	display: flex;
    flex-direction: row;
	justify-content: space-around;
}

@media (max-width:800px) {
	.match__details-list{
		margin-top: 30px !important;
	}
	
	.match-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
	}
	.match{
		width: 100% !important;
		min-width: 100% !important;
	}
	.img__logo{
		width: 100px !important;
		height: 100px !important;
	}
	.team-name {
		font-size: 20px;
		margin-top: 30px !important;
	}
	.match-date, .match-referee {
		font-size: 10px;
		text-align: center;
	}

	.match-header {
		padding-top: 15px;
		padding-bottom: 0px !important;
	}
	.match-header-list {
		padding-top: 15px;
		padding-bottom: 0px !important;
	}
	.container__box{
		margin-top: 50px !important;
	}
	.match-score-number {
		font-size: 36px !important;
	}
	.match-score-divider{
		font-size: 28px !important;
	}
	.match-time-lapsed{
		text-align: center;
		font-size: 10px !important;
	}
	.match-score-number-list{
		font-size: 40px !important;
	}
	.img__logo-list{
		width: 50px !important;
		height: 50px !important;
	}
	.team-logo-list{
		width: 50px !important;
	}
	.team-name-list{
		font-size: 24px !important;
		margin-top: 15px !important;
	}
}
.match-list{
	border-color: var(--color-bg-primary);
	width: 100%;

}
.container__list{
font-weight: 600;
font-size: 40px;
}
.container__box{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
    justify-content: center;
	padding: 0 10px;
}

@media (max-width:600px) {
	.container__box{
		margin-top: 80px;
		width: 100%;
	}
}

.match-list-item{
	border-color: var(--color-bg-primary);
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #093453;

}
